// Core variables and mixins
@import "partials/variables";
@import "partials/mixins";

// Reset
//@import "partials/normalize";
//@import "partials/print";

// Core CSS
@import "partials/scaffolding";
@import "partials/type";
@import "partials/code";
//@import "partials/grid";
//@import "partials/tables";
//@import "partials/forms";
//@import "partials/buttons";

// Components
//@import "partials/component-animations";
//@import "partials/glyphicons";
//@import "partials/dropdowns";
//@import "partials/button-groups";
//@import "partials/input-groups";
//@import "partials/navs";
//@import "partials/navbar";
//@import "partials/breadcrumbs";
//@import "partials/pagination";
//@import "partials/pager";
//@import "partials/labels";
//@import "partials/badges";
//@import "partials/jumbotron";
//@import "partials/thumbnails";
//@import "partials/alerts";
//@import "partials/progress-bars";
//@import "partials/media";
//@import "partials/list-group";
//@import "partials/panels";
//@import "partials/wells";
//@import "partials/close";

// Components w/ JavaScript
//@import "partials/modals";
//@import "partials/tooltip";
//@import "partials/popovers";
//@import "partials/carousel";

// Utility classes
@import "partials/utilities";
@import "partials/responsive-utilities";


////////////////////////////
// Custom Styles
#main{
//  min-height: 600px;
}
.container{
  background-color: #FFF;
}

h1{
  text-transform: uppercase;
}

p {
  margin: 0 0 2em;
  &:last-child{
    margin: 0 0 1em;
  }
}
// Create Grid
@include yz-fluidGrid(s, 12, 16px);

.vs-1{
  margin-top:1em;
}
.vs-2{
  margin-top:2em;
}
.vs-3{
  margin-top:3em;
}
.yz-row{
  @include clearfix;
  clear:both;
  width:100%;
}
.ta-center{
  text-align:center;
}
.cp{
  padding-left:0;
  padding-right:0;
}
.cm{
  margin-left:0;
  margin-right:0;
}
.alignright {
  float: right;
  margin: 0 0 10px 20px;
}
.alignleft {
  float: left;
  margin: 0 20px 10px 0;
}

.section-header {
  font-size: 18px;
}

.wide-on-left{
   .block{
     @extend .s-4;
     &:first-child{
       @extend .s-8;
     }
   }
}

.wide-on-right{
  .block{
    @extend .s-8;
    &:first-child{
      @extend .s-4;
    }
  }
}

.equal{
  .block{
    @extend .s-6;
  }
}


.leading-zero{
  float:left;
  font-size: 26px;
}
.the-number{
  float:left;
  position: relative;
  top: -7px;
  font-size: 52px;
}
//////////////////
#debugger {

  a{
    position: fixed;
    right:10px;
    padding:10px;
    background:white;
    margin:10px;
  }
  #debugger-info-window{display: none;}

  width:90%;
  position: absolute;
  top: 50PX;
  left: 0;
}
//////////////////