{% extends "base.twig" %}

{% block content %}
  {% for article in articles %}
    <ol>
      <li>
        <a href="{{ article.guid }}">{{ article.title }}</a>
      </li>
    </ol>

  {% endfor %}

{% endblock %}